extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Назва жанру:
      input#name.form-control(type='text', name='name', required=true, value=(genre ? genre.name : ''))

    button.btn.btn-primary(type='submit') Зберегти

  if errors
    ul.text-danger
      each error in errors
        li #{error.msg}
